################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*applicationhost.config
/.vs/config
/src/packages
/packages
